<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">

    <title>
        <%= title || "Kenya Ecommerce Store" %>
    </title>

    <meta name="description"
          content="<%= description || 'Kenyan online ecommerce store' %>">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <%- include("header") %>

    <main>
        <%- body %>
    </main>

    <%- include("cta") %>

    <%- include("footer") %>


<script src="/js/main.js"></script>

</body>
</html>